* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 40px;
    height: 40px;
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header_nav {
    display: flex;
    align-items: center;
}
.header_list {
    display: flex;
    gap: 40%;
}
.header_list-item {
    list-style:none ;
}
contact {
    font-size: 40px;
}

