@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", 'Gill Sans MT';
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    background: url(file/giphy.gif), white;
    background-size: 100px;
   background-blend-mode: luminosity;
}
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 15px 15px 0 0;
    align-items: center;
    padding: 15px;
    justify-content:space-around;
}
.nav_book {
    font-size: 25px;
    &:hover {
        color: white;
    }
}
.contacts {
    display: flex;
    gap: 30px;
}
.nav_logo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.pac {
    display: flex;
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--width_pac)); 
  }
}
.about_list_img {
    max-height: 100px;
}
.about_list {
    list-style: none;
    display: flex;
    max-height: 100px;
    overflow: hidden;
}

.about_p{
    display: flex;
    max-width: 50%;
    text-align: center;
    align-items: center;
}
.about_h1 {
    text-align: center;
    margin-bottom: 20px;
}
.about_me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-right: 15px;
}
.about_img {
    height: 300px;
    background-image: url(file/icon.jpg);
    background-repeat: no-repeat;
    background-position-x:100px;
    background-position-y: 76px;
    background-size: 160px;
    
}
.about_imgs {
    height: max-content;
    position: absolute;
    left: 64%;
}
.about {
    background-color: rgba(200, 200,200, 0.5);
    padding: 10px;
}
.contact_img {
    width: 40px;
    height: 40px;
    filter: grayscale(25%);
    &:hover {
        background-color:white;
        border-radius: 50%;
    }
}

.card_list {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    gap: 20px;
    margin: 10px 0;
    padding-left: 15px;
    scrollbar-width: none; 
}
.card_img {
    width: 400px;
    height: 533px;
    border-radius: 15px;
}
.card_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(200, 200,200, 0.5);
    color: white;
    border-radius: 15px;
    gap: 15px;
}
.list_name {
    padding-left: 10%;
    font-size: 40px;
    width: 90%;
    color: black;
    text-align: center;
    font-weight: normal;
}
.about_text {
    padding: 3%;
    background-color: rgba(253, 253, 253, 0.5);
    display: flex;
    flex-direction: column;
    width: 80%;
    gap:10px;
    border-radius: 15px 0 0 15px;
}
.about_text > p {
    font-size: 20px;
}
.about_project_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project1{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.about_project_img1 {
    width: 560px;
    border-radius: 15px;
}
.text_project1 {
    background-color: rgba(253, 253, 253, 0.5);
    padding: 5px;
    border-radius: 15px;
}
.status {
    width: max-content;
    display: inline-flex;
    background-color: rgba(253, 253, 253, 0.5);
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    gap: 5px;
}
.cercle {
    width: 15px;
    height: 15px;
    background-color: orange;
    border-radius: 50%;
}

.about_project_1 > p {
    font-size: 30px;
} 
.link_project1{
    padding: 5px;
    max-width: max-content;
    background-color: rgba(253, 253, 253, 0.5);
    border-radius: 15px;
}
@media (max-width: 700px) {
    nav {
        padding: 0;
        padding-top: 15px;
    }
    .about_me {
        flex-direction:column-reverse;
    }
    .about_img {
    text-align: center;
    margin: 0;
    padding: 0;   
    }
    .about {
    padding: 0;
    }
    .contacts {
        display: flex;
        width: 50%;
        height: 60px;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    .nav_book {
        display: flex;
        text-align: center;
        background-color: black;
        height: 60px;
        width: 50%;
        color: white;
    }
    .logo_img {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .contact_img {
        background-color: white;
        border-radius: 50%;
        &:hover {
            background-color:rgba(0, 0, 0, 0);
        }
    }
    .nav_logo{
        width: 70px;
        height: 70px;
        margin-bottom: 15px;
    }
}